# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore build artifacts
build/
dist/
*.egg-info/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp